[submodule "esp-idf-lib"]
	path = esp-idf-lib
#	url = git@github.com:dianlight/esp-idf-lib.git
	url = https://github.com/dianlight/esp-idf-lib.git
[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "a8i2cGateway"]
	path = a8i2cGateway
	url = git@github.com:dianlight/a8i2cGateway.git
	branch = next
